<launch>
    <!-- <node name="sbg_ellipseN" pkg="sbg_driver" type="sbg_device" output="screen">
  	    <rosparam command="load" file="$(find sbg_driver)/config/example/ellipse_N_default.yaml" />
    </node> -->
    <include file="$(find rplidar_ros)/launch/rplidar.launch" />

    <node pkg="diy_robot" type="broadcaster" name="broadcaster"/>
    <node pkg="diy_robot" type="velocity" name="velocity"/>
    <node pkg="diy_robot" type="odom_broadcaster" name="odom_broadcaster"/>

</launch>